@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasty Catering</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        <h1>Tasty Catering</h1>
        <p>Tastiest Catering Service in Tirana.</p>
    </div>
</body>
</html>




